html,
body {
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100%;
    display: table;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.header {
    display: table-row;
    height: 1px;
    border-bottom: solid 1px black;
}
.header h1 {
    margin: .3125em 0;
}
.header a {
    display: inline-block;
    margin: .625em 0 .75em 2.5em;
    padding: 0;
}
.main {
    height: 100%;
    display: table;
    width: 100%;
}
.cell {
    display: table-cell;
}
.footer {
    display: table-row;
    height: 1px;
    border-top: solid 1px black;
} 
.footer .p-address {
    margin-top: .4375em;
}
.footer .p-phone {
    margin-bottom: .4375em;
}