@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:400,700');
html,
body {
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100%;
    display: table;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.header {
    display: table-row;
    height: 1px;
    border-bottom: solid 1px black;
}
.header h1 {
    margin: .3125em 0;
    font-family: 'Vollkorn SC', serif;
}
/* .header a {
    display: inline-block;
    margin: .625em 0 .75em 2.5em;
    padding: 0;
} */
.header ul {
    padding: 0;
    margin: .625em 0 .75em 2.5em;
}
.header ul li {
    list-style-type: none;
    display: inline-block;
    width: 5em;
}
.main {
    height: 100%;
    display: table;
    width: 100%;
}
.cell {
    display: table-cell;
}
.footer {
    display: table-row;
    height: 1px;
    border-top: solid 1px black;
} 
.footer .p-address {
    margin-top: .4375em;
}
.footer .p-phone {
    margin-bottom: .4375em;
}
  a:visited {
    color: rgb(177, 2, 2);
  }
  a:hover {
    font-weight: bold;
  }
  a:active {
    text-decoration: none;
  }